<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Astre | dates, friends, astrology</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <i class="fas fa-heart"></i>
      <i class="fas fa-comments"></i>
      <i class="fas fa-user"></i>
    </nav>
    <div class="new-pairs-and-chats-container">
      <div class="container-name">New Pairs</div>
      <div class="new-pairs-container" style="overflow-y: scroll;">
        <div class="new-pair">
          <div class="new-pair-photo">
            <img src="../img/profilepics/sophia.jpg" alt="" />
          </div>
          <div class="new-pair-username">Sofia</div>
        </div>
        <div class="new-pair">
          <div class="new-pair-photo">
            <img src="../img/profilepics/ania.jpg" alt="" />
          </div>
          <div class="new-pair-username">Ania</div>
        </div>
        <div class="new-pair">
          <div class="new-pair-photo">
            <img src="../img/profilepics/andzelika.jpg" alt="" />
          </div>
          <div class="new-pair-username">Andżelika</div>
        </div>
        <div class="new-pair">
          <div class="new-pair-photo">
            <img src="../img/profilepics/kasia.jpg" alt="" />
          </div>
          <div class="new-pair-username">Kasia</div>
        </div>
      </div>
      <div class="container-name">Messages</div>
      <div class="messages-container">
        <div class="message-container">
          <div class="messages-container-photo"></div>
          <div class="messages-container-username"></div>
          <div class="messages-container-snippet"></div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/8a50b84207.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
