<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>My profile | Astre</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <i class="fas fa-heart"></i>
      <i class="fas fa-comments"></i>
      <i class="fas fa-user"></i>
    </nav>

    <div class="profile-screen-background">
      <div class="profile-screen-foreground">
        <div class="profile-main-photo-container">
          <div class="profile-main-photo-background-1">
            <div class="profile-main-photo-background-2">
              <div class="profile-main-photo">
                <div class="user-zodiac-sign">♏︎</div>
                <img src="../img/profilepics/profile-pic.jpg" alt="" />
              </div>
            </div>
          </div>
          <h2>Mateusz 21</h2>
        </div>
        <div class="profile-options-panel">
          <div class="profile-action-container">
            <div class="action">
              <i class="fas fa-cog"></i>
            </div>
            Settings
          </div>
          <div class="profile-action-container">
            <div class="action">
              <i class="fas fa-pencil-alt"></i>
            </div>
            Edit profile
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://kit.fontawesome.com/8a50b84207.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
