<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Settings | Astre</title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body>
    <div class="edit-profile-screen-background">
      <nav class="navbar">
        <h2>SETTINGS</h2>
        <div class="done-button">Done</div>
      </nav>
        <div class="settings-screen">
            <h3>Name</h3>
            <input type="text"
            class="input" value="Jane">
            <h3>Birthday</h3>
            <input type="date"
            class="input">
            <h3>Email</h3>
            <input type="text"
            class="input"
            value="example@example.com">
            <h3>Password</h3>
            <input type="password"
            class="input"
            value="brightcode">
            <button
            class="btn">Update</button>
        </div>
    </div>
    </div>
    <script
      src="https://kit.fontawesome.com/8a50b84207.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
