<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Astre | dates, friends, astrology</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <i class="fas fa-heart"></i>
      <i class="fas fa-comments"></i>
      <i class="fas fa-user"></i>
    </nav>
    <div class="photo-and-actions">
      <div class="photo">
        <div class="zodiac-sign">♈︎</div>
        <div class="photo-text">
          <div class="photo-name-and-age">
            <h2>Zuza</h2>
            <h2>21</h2>
          </div>
          <div class="photo-bio">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam
            corporis blanditiis praesentium excepturi deserunt ex, quasi vel
            fugit dolore sequi.
          </div>
        </div>
      </div>
      <div class="actions">
        <div class="action">
          <i class="fas fa-times"></i>
        </div>
        <div class="action">
          <i class="fas fa-heart"></i>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/8a50b84207.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
