* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: white;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container::before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  background-image: linear-gradient(90deg, #7a00ac 0%, #3d0056 100%);
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 6;
  transition: 1.8s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.2rem;
  color: #333;
}

.input-field input:placeholder-shown {
  color: #aaa;
  font-weight: 500;
}

.btn {
  width: 150px;
  height: 49px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #7a00ac;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgb(128, 11, 196);
  cursor: pointer;
}

.social-text {
  padding: 0.7rem 0;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  border: 1px solid #3333;
  margin: 0 0.45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1.3rem;
  border-radius: 50%;
  transition: all 0.5s;
}

.social-icon:hover {
  color: rgb(128, 11, 196);
  border-color: #7a00ac;
}

.signin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form.sign-in-form {
  z-index: 2;
}

form.sign-up-form {
  z-index: 1;
  opacity: 0;
}

.logo {
  width: 150%;
  text-align: center;
  margin-bottom: 50px;
}

.logo_mobile {
  display: none;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
  align-items: flex-end;
}
.right-panel {
  pointer-events: none;
  padding: 7rem 12% 2rem 17%;
  align-items: flex-start;
}

.panel .content {
  color: rgb(226, 191, 247);
  transition: 0.9s 0.6s ease-in-out;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.75rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #f0f0f0;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}
.image {
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
}

.right-panel .content,
.right-panel .image {
  /* transform: translateX(1050px); */
  transform: translateX(800px);
}

/*ANIMATION*/

.container.sign-up-mode::before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  /* transform: translateX(-1070px); */
  transform: translateX(-800px);
}

.container.sign-up-mode .right-panel .content,
.container.sign-up-mode .right-panel .image {
  transform: translateX(0px);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}
.container.sign-up-mode .right-panel {
  pointer-events: all;
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.container.sign-up-mode form.sign-up-form {
  z-index: 2;
  opacity: 1;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .logo {
    max-width: 100%;
  }

  .container::before {
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 75%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }
  .signin-signup {
    width: 100%;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }
  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
  }

  .panel .content {
    padding-right: 15%;
    transition: 0.9s 0.8s ease-in-out;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .left-panel {
    grid-row: 1 / 2;
  }
  .right-panel {
    grid-row: 3 / 4;
  }

  .image {
    width: 200px;
    transition: 0.9s 0.6s ease-in-out;
  }

  .right-panel .content,
  .right-panel .image {
    transform: translateY(300px);
  }

  .container.sign-up-mode::before {
    transform: translate(-50%, 100%);
    bottom: 23%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
    left: 50%;
  }
}

@media (max-width: 570px) {
  form {
    max-width: 390px;
    padding: 0 0.75rem 0 1.5rem;
  }

  .logo {
    display: none;
  }
  .logo_mobile {
    display: block;
    margin-bottom: 50px;
    margin-right: 15px;
  }
  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container::before {
    bottom: 75%;
    left: 50%;
  }

  .container.sign-up-mode::before {
    bottom: 20%;
    left: 50%;
  }
}

/* SWIPE.html */

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
}

.navbar i {
  font-size: 1.5rem;
  color: #dadfe6;
}

.navbar i:hover {
  cursor: pointer;
}

.navbar i:nth-child(1) {
  color: rgb(128, 11, 196);
}

.photo-and-actions {
  height: calc(100vh - 44px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.zodiac-sign {
  position: absolute;
  top: 0;
  right: 0;
  color: #7a00ac;
  font-size: 2.5rem;
  padding: 1rem 1rem;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 1rem 1rem;
}
.photo {
  width: 98vw;
  height: 85vh;
  background: url(../img/girl1.jpg) center center/cover;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  color: #eee;
  box-shadow: 0 2px 10px 0 rgba(136, 136, 136, 0.77);
  position: relative;
}

.photo-text {
  padding: 18px;
  background: rgb(2, 0, 36);
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(35, 34, 65, 0) 0%,
    rgba(0, 0, 0, 0.7) 52%
  );
  border-radius: 10px;
}

.photo-name-and-age {
  display: flex;
  align-items: column;
  margin-bottom: 6px;
  font-size: 1.4rem;
}

.photo-name-and-age h2:nth-child(2) {
  margin-left: 10px;
  font-weight: 500;
}

.photo-bio {
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-weight: 500;
}

/* Actions */
.actions {
  display: flex;
  flex: auto;
  align-items: flex-start;
  margin: 1rem 0;
}

.action {
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 2rem;
  margin: 0 1rem;
  transition: transform 500ms ease;
}

.action:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.actions .action:nth-child(1) {
  color: #fd5068;
}
.actions .action:nth-child(2) {
  color: #1be4a1;
}

@media (min-width: 1025px) {
  .photo {
    width: 367px;
    height: 684px;
  }

  .navbar {
    width: 400px;
    margin: auto;
  }
  .actions .action {
    display: flex;
    justify-content: flex;
  }
}

/*chats.html*/
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.new-pairs-and-messages-container {
  display: flex;
  flex-direction: column;
}

.new-pairs-container {
  display: flex;
  flex-direction: row;
}

.container-name {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

.new-pair {
  display: flex;
  flex-direction: column;
}
.new-pair-photo {
  /* width: 90px;
  height: 120px;
  border-radius: 4px; */
  width: 74px;
  height: 74px;
  border-radius: 50%;

}

.new-pair-photo > img {
  /* width: 90px;
  height: 120px;
  border-radius: 4px; */
  width: 74px;
  height: 74px;
  border-radius: 50%;
  margin: .5rem 1rem;
}

.new-pair-username {
  /* width: 90px; */
  width: 74px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
}
